body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero, .footer{
    background-color: #1F2937;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}

.header-logo {
    font-size: 24px;
    color: #E5E7EB;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;  
    justify-content: space-evenly;
    gap: 1.5rem;
}

.hero-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 5rem 0;
    padding: 2.5rem;
    gap: 2rem;
}

.hero-left {
    flex: 1 1 50%;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin-bottom: 0;
}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero-button {
    margin-top: .5rem;
    margin-bottom: 2.5rem;
    border: none;
}

.hero-img { 
    width: 100px;
    height: auto;
    margin-bottom: 2.5rem;
    background-color: #8b93a0;
    align-self: center;
    flex: 0 0 50%;
}

.info-main{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 2.5rem;
}

.info-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5rem;
    gap: 2.5rem;
}
.img-with-text {
    vertical-align: top;
    text-align: center;
}

.img-info {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.caption {
    font-size: 18px;
    display: block;
    width: 100px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-main {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 2rem 10rem;
    margin-bottom: 0;
}

.quote-sub {
    font-size: 24px;
    font-weight: bold;
    color: black;
    align-self: flex-end;
    padding: 0 10rem 2.5rem;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem;
    margin: 5rem
}

.cta-body {
    align-self: flex-start;
}

.cta-button {
    align-self: center;
    border: 2px solid #F9FAF8;
}

.cta-main {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0; 
}

.cta-sub {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    font-size: 12px;
    border-radius: 8px;
    padding: .35rem 1.75rem;   
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    padding: .1rem;
}